*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 2vw;
}

.container{ /*ne pas tenir compte c'est pour la présentation des containers*/
    margin: 0 auto;
    margin-bottom: 2vw;
    width: 80%;
    height: 24vh;
    border: 5px solid royalblue;
    background-color: #ededed;
}

h3{
    margin-left: 10vw;
    font-size: 2vw;
}

p{
    color: white;
}

span{
    background-color: cadetblue;
    color: white;
    font-size: larger;
}

.box{
    width:  12vw;
    height: 12vw;
    background-color: salmon;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vw;
}

/***La partie qui nous interesse***/

.container1{
    display: flex;
}

.box1{
   margin: auto;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .box2{
    rien de particulier pour son positionnement centré
} */

.container3{
    position: relative; /*obligatoire pour que box3 prennent container3 comme reference et non la page*/
}

.box3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

